.wslsurfer{
	
}

.wslsurferrank{
	width:50%;
	float:left;
	text-align:center;
	font-size:14pt;
	font-weight:100;
	margin-top:3px;
}

.wslsurferteam{
	width:50%;
	float:left;
	text-align:center;
	margin-top:5px;
}

.wslsurfername{
	padding:15px;
	font-weight:900;
}

.wslsurferresults{
	
}

.wslsurferpoints{
	font-weight:900;
	padding:0px;
	text-align:center;
}

.wslsurferexpand{
	padding-left:10px;
	padding-right:10px;
	padding-top:14px;
	padding-bottom:9px;
	text-align:right;
}

.wslsurferexpand :hover{
	cursor:pointer;
}

.expandedsurfer{
	display:none;
}

.evenline{
	background-color:#eee;
}

.oddline{
	background-color:white;
}



/*BELOW EXACTLY COPIED FROM TEAM.CSS*/

.performanceresult{
	width:9.09%;
	padding-top:14px;
	padding-bottom:14px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
}

.performanceeventname{
	padding:8px 15px 8px 0px;
	text-align:right;
	font-size:10pt;
	font-weight:400;
}

.performanceeventnumber{
	padding:8px 0px 8px 0px;
	text-align:center;
	border-bottom:1px solid #eee;
	font-size:10pt;
	font-weight:400;
}

.performanceround{
	width:12.5%;
	text-align:center;
	font-size:7pt;
	font-weight:900;
	padding:7px 0px 7px 0px;
	border-top:5px solid #eee;border-bottom:5px solid #eee;
}

.performanceinjured{
	width:100%;
	text-align:left;
	font-size:7pt;
	font-weight:900;
	padding:13px 0px 13px 10px;
}

.event25{background-color:#E8F8FF;color:black;}/**/
.event13{background-color:#E0F5FC;color:black;}/**/
.event9{background-color:#CEE6ED;color:black;}
.event5{background-color:#FF6D1F;color:black;}
.event3{background-color:#FF822E;color:black;}
.event2{background-color:#FFBE00;color:black;}/**/
.event1{background-color:#FFFF00;color:black;}/**/
.eventinjured{background-color:#0F060F;color:#aaa;}
.eventunsurfed{background-color:#eee;color:#999;}

.performancewon{background-color:#ABD25E;color:#667D38;}
.performancerelegated{background-color:#F8C830;color:#876D1A;}
.performancelost{background-color:#F1594A;color:#8F352C;}
.performanceout{background-color:#eee;color:#ccc;}
.performanceinjured{background-color:#eee;color:#999;}

.evenline .performanceround{border-top:5px solid #eee;border-bottom:5px solid #eee;}
.oddline .performanceround{border-top:5px solid white;border-bottom:5px solid white;}

.evenline .eventunsurfed{background-color:#eee;}
.oddline .eventunsurfed{background-color:white;}

.evenline .performanceout{background-color:#eee;color:#ccc;}
.oddline .performanceout{background-color:white;color:white;}


/*SMALL*/
.leagueleaderboard :hover{
	cursor:pointer;
}

.sm-standings-row{
	
}

.sm-leaderboard-rank{
	text-align:center;
	font-size:14pt;
	font-weight:100;
	margin-top:3px;
}

.sm-leaderboard-username{
	font-weight:900;
	padding:10px;
}

.sm-leaderboard-total{
	text-align:right;
	font-weight:900;
}

.sm-leaderboard-chevron{
	font-weight:900;
	padding:10px;
}

.performancelabel{
	padding:0px 0px 3px 5px;
	font-size:7pt;
	font-weight:900;
}
